*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sprite{
  width: 160px;
  height: 325px;
  margin: 0 auto;
  animation-name: play;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);

  overflow: hidden;
  background-image: url("../images/walk.jpeg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: 1px solid #ccc;

}
/* #img{
  width: 1472px;
  height: auto;
  transform: translateX(0);
  animation-name: play;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8);
} */
@keyframes play {
  100%{
    background-position: -1280px 0; 
    /* transform: translateX(1472px); */
  }
  
}